
body {
    text-align: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: fondoAnimado 12s infinite alternate;
}


h1 {
    color: #ffffff;
    margin-top: 30px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

@keyframes fondoAnimado {
    0%   { background-color: #0f3fa6; }
    50%  { background-color: #1e90ff; }
    100% { background-color: #1ee2e8; }
}

button {
    background: linear-gradient(135deg, #cd11c7, #7b2cbf);
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    transition: 0.9s;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

button:hover {
    transform: translateY(-3px);
    background: linear-gradient( #5f7be1);
}

#caja {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 30px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    transition: background-color 0.4s;
    transform: translateY(-3px);
}

#caja:hover {
    transform:scale(0.9) rotate(5deg);
    transition: 0.4s;
}


