body {
    font-family: Arial, sans-serif;
    background-color: #18191a;
    text-align: center;
}

h1 {
    color: #f7fafd;
}

h2 {
    color: #f6f9fc;
}

p {
    color: #f9f9f9;
    font-size: 16px;
}

h3 {
    color: #e1e4e8;
}

img {
    border-radius: 10px;
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    color: #f8f6f5;
}
